@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#186a5e, #053339);
  color: #e1eeeb;
  min-height: 100vh;
}

#content {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background: radial-gradient(#0b201d, #021619);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: "Handjet", monospace;
  text-align: center;
  text-transform: uppercase;
  color: #c1e2dd;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 3.5rem;
  margin: 0;
}

h1 em {
  font-style: normal;
  color: #00eeff;
}

header p {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: #c6f4f2;
}

#player {
  text-align: center;
}

#player h2 {
  color: #54a399;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.limit {
  display: inline-block;
  max-width: 20rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  margin-left: 5px;
}

#player p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
  font-weight: bold;
}

#player input {
  font: inherit;
  border: 1px solid #54a399;
  background-color: #192f2b;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.25rem;
  color: #d1f0ec;
}

#player button {
  cursor: pointer;
  background-color: #54a399;
  border: 1px solid #54a399;
  padding: 0.4rem 1rem;
  color: #061e1a;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#player button:hover {
  background-color: #3c8379;
  border-color: #3c8379;
}

#challenges {
  max-width: 50rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.challenge {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  color: #221c18;
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}

.challenge:nth-child(1) {
  background-color: #00eeff;
}

.challenge:nth-child(2) {
  background-color: #00cfdd;
}

.challenge:nth-child(3) {
  background-color: #00a5b1;
}

.challenge:nth-child(4) {
  background-color: #006b72;
}

.result-modal.lOne {
  background-color: black;
}

.result-modal.lTwo {
  background-color: blue;
}

.result-modal.lThree {
  background-color: green;
}

.result-modal.lFour {
  background-color: pink;
}

.challenge button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

.challenge button:hover {
  background: #051715;
}

.challenge h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #221c18;
}

.challenge-time {
  border: 1px solid #46cebe;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
}

.challenge .active {
  animation: flash 1s infinite;
}

.result-modal {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: #d7fcf8;
}

.result-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.result-modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

.result-modal h2 {
  font-family: "Handjet", monospace;
  margin: 0 0 0.25rem 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.result-modal progress {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  accent-color: #46cebe;
}

.result-modal p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.result-modal p strong {
  color: #10655b;
}

.result-modal form {
  text-align: right;
}

.result-modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

.result-modal button:hover {
  background: #051715;
}

/* .result-modal:nth-child(1){

} */

.spinner {
  display: inline-block;
}

.spin-once {
  animation: spinOnce 0.5s ease-in-out forwards;
}

.idle {
  animation: none;
  opacity: 0.6;
}

@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
